version: '3.8'
services:
  # Service cho ứng dụng Laravel
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/var/www
    command: bash -c "php artisan serve --host=0.0.0.0 --port=8000"
    depends_on:
      - db
    networks:
      - laravel-net

  # Service cho Database MySQL
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: laravel_db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    networks:
      - laravel-net

networks:
  laravel-net:
    driver: bridge