version: '3.8'
services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    # Dòng này cực quan trọng với Windows để sửa code nó tự cập nhật (Hot reload)
    environment:
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true
    tty: true