version: '3.8'
services:
  react-app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules # Tránh ghi đè node_modules trong container
    environment:
      - CHOKIDAR_USEPOLLING=true # Giúp hot-reload hoạt động tốt trên Docker Windows